
.grid-2-columns{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 5px;
  padding: 5px;
}

.grid-3-columns {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  gap: 5px;
}

.grid-3-columns_2 {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  gap: 5px;
}

.tabla_complementaria {
  display: grid;
  grid-template-columns: 90% 10% ;
  gap: 2px;
  background-color: darkgray;
  padding: 5px;
}


.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2px;
  background-color: darkgray;
  padding: 5px;
}

.grid-container3 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 2px;
  background-color: darkgray;
  padding: 5px;
}

.grid-container4 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  gap: 2px;
  background-color: darkgray;
  padding: 5px;
}

.grid-container5 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto 20%;
  gap: 2px;
  background-color: darkgray;
  padding: 5px;
}
.grid > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 20px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border:  rgba(0, 0, 0, 1.0) 2px solid;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

img{
  width: 150px;
}

.square{
  width: 150px !important; 
  height: 150px;
  
}

.left{
  text-align: left !important;
  margin-top: 35%;
  margin-bottom: -35%;
}
.right{
  text-align: right !important;
  margin-top: 35%;
  margin-bottom: -35%;
}

.empty {
  background-color: rgba(255, 255, 255, 0) !important;
  border:  none !important;
  text-align: center;
  font-size: 20px;
}

